@mixin horizontal-list {
    ul {
        margin: 0;
        list-style: none;
        li {
            display: inline-block;
            a {
                display: inline-block;
                margin: .625rem;
                padding: .3125rem .825rem;
                text-decoration: none;
                color: $color-primary;
                transition: all .3s ease-in-out;
            }
            a:hover {
                color: #444;
            }
        }
    }
}

nav {
    @include horizontal-list;
}
